.header {
    max-width: 1200px;
    padding: 50px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.header-menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  
}

.header-menu a {
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    color: #141414;
    display: block;
}

.header-menu li a {
  display: inline-block;
  transition: transform 0.25s ease;
}

/* efeito de salto no hover */
.header-menu li a:hover {
  transform: scale(1.08) translateY(-2px);
}


/* Ícones padrão */
.header-menu .icone i {
  font-size: 1.5rem;
  color: #141414;
  transition: color 0.3s ease, transform 0.3s ease;
}


/* Hover do LinkedIn (fica azul) */
.header-menu a[href*="linkedin"] i:hover {
  color: #0077b5;
  transform: scale(1.1);
}

/* Hover do GitHub (fica cinza) */
.header-menu a[href*="github"] i:hover {
  color: #6e6e6e;
  transform: scale(1.1);
}


@media (max-width:800px) {
    .header {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
    
    .header a {
        background: #f5f5f5;
        border-radius: 4px;
    }
}


@media (max-width: 640px) {
    .header-menu {
        gap: 10px;
    }
    
    .header-menu a.icone img {
        width: 24px;
        height: 24px;
    }
}
